[submodule "third_party/oculus_reader"]
	path = third_party/oculus_reader
	url = https://github.com/rail-berkeley/oculus_reader.git
[submodule "third_party/triad_openvr"]
	path = third_party/triad_openvr
	url = https://github.com/TriadSemi/triad_openvr.git
[submodule "third_party/XRoboToolkit-PC-Service-Pybind"]
	path = third_party/XRoboToolkit-PC-Service-Pybind
	url = https://github.com/XR-Robotics/XRoboToolkit-PC-Service-Pybind.git
